body{
    font-size: 15px;
    background-color: rgb(195, 214, 255);
    font-family: sans-serif; 

}

h1{ /* this is off with console */
    color: rgb(113, 48, 235);
    font-family: sans-serif;
    font-size: 70pt;
    position: fixed;
    left: 340px;
    top: 120px;
}

#background{ /*maybe a div FOR BACKGROUND SOURCE but why is there a */
    height: 846px;
    width: 1475px;

}

.box{
    width:200px;
    height:200px;
    background-color: rgb(69, 170, 131);
    border-radius: 100px;
    position: fixed;
    text-align: center;
    color: rgb(255, 255, 255);
    background-position: 50% 50%;
}


.text{
    font-size: 30px;
    color: rgb(0, 0, 0);
    bottom: 260px;
    /* the console really messes this up*/
}

#btnBack{
    left: 10px;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    background: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}


#learnText{
    text-align: left;
    left: 390px;
    position: relative; /* infront */
    position: fixed;
    
}

#composeText{
    text-align: center;

    left: 675px;
    position: relative; /* infront */
    position: fixed;
    
}

#playText{
    text-align: right;
    
    right: 345px;
    position: relative; /* infront */
    position: fixed;
    
}

#learn{
    top: 330px;
    left: 350px;
}

#compose{
    top: 330px;
    left: 650px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 40px;
}

#play{
    top: 330px;
    left: 950px;
}


.tutorial{
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 5px solid rgb(96, 228, 114);
    background-color: white;
    font-size: 20pt;
    text-align: center;
    width: 300px;
    height: 90px;
    position: fixed;
    bottom: 160px;
    left: 290px;
}