body{
    font-size: 15px;
    background-color: rgb(253, 211, 211);
    /* background-image: url(../images/backgroundPROTO.jpg);
    background-size: cover; */
    font-family: sans-serif; 
    background-repeat: no-repeat;
}

#notFound{ /* this is off with console */
    color: red;
    top: 140px;
    position: absolute;
}

#title{
    background-color: white;
    height: 100px;
    width: 350px;
    text-align: center;

    top: 300px;
    left: 300px;
    border-radius: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    position: absolute;
}


#accountInputs{
    padding: 30px;
    position: absolute;
    left: 280px;

    top: 400px;
}


#userPlace{width: 10px;}
#passPlace{width: 10px;}
#emailPlace{width: 10px;}

#checkPlace{

}

#login{

}

#signup{

}

.menuButton{
    /* background-color: rgb(145, 190, 226);
    color: rgb(63, 124, 238); */
    padding: 10px 20px;

    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    border-radius: 30px;
    position: fixed;
    width: 200px;
    position: absolute;

}

#btnStart{ /* START */
    top: 425px;
    left: 300px;

}

#playButton{  /*   class is with menuButton -> TEST VOLUME    */
    top: 500px;
    left: 300px;
}

#bird{
    left: 550px;
    bottom: 25px;
    width: 1200px;
    transform: rotate(-20deg);
    height: 400px;
    position: fixed;
}

#background{ /*maybe a div FOR BACKGROUND SOURCE but why is there a */
    height: 846px;
    width: 1000px;
    left: 0px;
    right: 0px;

}


