/* navigation */
body{
    background-color: rgb(0, 0, 0);
    text-align: centre;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url("../images/cloud.jpg");
    background-repeat: no-repeat;
    background-size: 1480px 1100px;
    
    
}

h1{
    top:-10px;
    color: rgb(143, 98, 211);
    position: absolute;
    left: 630px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


h2{
    top:150px;
    font-size: 50px;
    color: rgb(24, 21, 28);
    position: absolute;
    left: 550px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.buttons{
    top:0px;
    height: 50px;
    width: 120px;
    position: absolute;
    margin-right: 50px;
    margin-top: 10px;
    border-radius: 50px;
    background: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

#btnBack{
    left: 10px;
    border-radius: 50px;
    width: 50px;
}

#breakScreen{
    height: 800px;
    width: 1400px;
    margin-left: 90px;
    position: absolute;
}
#loading{
    height: 200px;
    width: 300px;
    bottom: 0px;
    position: absolute;
}


#btnMenu{
    left: 70px;
}

#next{
    right: 70px;
    background-color: rgb(164, 127, 232);
    top: 670px;
    width: 100px;
}


#btnReady{
    right: 500px;
    background-color: rgb(183, 127, 232);
    top: 670px;
}

#btnSkip{
    left: 100px;
    background-color: rgb(172, 127, 232);
    top: 670px;
}

#btnNotready{
    right: 300px;
    background-color: rgb(179, 127, 232);
    top: 670px;
}


#bar{
    background-color: rgb(191, 164, 255);
    top: 0px;
    position: absolute;
    height: 70px;
    width: 1480px;
    z-index: -1;
    background-image: url("../images/learning.png");
    background-repeat: no-repeat;
    background-position-y: -50px;
    background-position-x: 200px;
    background-size: 200px;
}

#display{
    height:500px;
    width: 900px;
    top: 190px;
    /* margin-left: 50px; */
 
    left: 300px;
    
    position: absolute;
    /* background-color: black; */
}

.generate{
    position: absolute;
    bottom: 100px;
    /* margin-left: 50px; */
    width: 200px;
    height: 100px;

    left: 650px;
}

.options{
    position:absolute;
    bottom: 200px;
    left: 500px;
}

#answerD{
    left: 600px;
}

#answerE{
    left: 700px;
}

#answerF{
    left: 800px;
}

#answerG{
    left: 900px;
}

#answerA{
    left: 1000px;
}

#answerB{
    bottom: 150px;
    left: 550px;
}

#answerC2{
    bottom: 150px;
    left: 650px;
}

#answerD2{
    bottom: 150px;
    left: 750px;
}

#answerE2{
    bottom: 150px;
    left: 850px;
}

#answerF2{
    bottom: 150px;
    left: 950px;
}


#gameover{
    height: 800px;
    width: 1300px;
    left: 150px;
    position: absolute;
}

#tryagain{
    top: 480px;
    left: 400px;
    width: 250px;
    height: 70px;
    font-size: 25px;
    position: absolute;
}

.stats{
    position: absolute;
    font-size: 20px;
    right:100px;
    top: 100px;
}

#statAttempts{
    top: 200px;
}

#finalScore{
    top: 450px;
    left: 480px;
}

#statCorrect{
    top: 150px;
}


#talkBubble{
    background-color: white;
    position: absolute;
    top: 110px;
    margin-left: 80px;
    height: 70px;
    width: 700px;
    border-radius: 30px;
    z-index: 1;
    text-align: center;
    font-size: 25px;
}

#name{
    height: 30px;
    width: 100px;
    top:90px;
    position: absolute;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    left: 150px;
    background-color: rgb(195, 130, 255);
    z-index: 3;
}

.tempiIcon{
    height: 150px;
    width: 150px;
    position: absolute;
    
    top: 70px;
    left: 20px;
    z-index: 2;
}

#tempiHappy{
    height: 600px;
    width: 600px;
    position: absolute;
    
    top: 150px;
    left: 150px;
}

#congrats{
    height: 100px;
    width: 600px;
    background-color: white;
    position: absolute;
    border-radius: 30px;
    text-align: center;
    font-size: 40px;
    
    top: 300px;
    right: 200px;
}

#backMenu{
    top: 470px;
    left: 750px;
    width: 250px;
    height: 70px;
    font-size: 25px;
    position: absolute;
}

#playAgain{
    top: 570px;
    left: 750px;
    width: 250px;
    height: 70px;
    font-size: 25px;
    position: absolute;
}

#totalScore{
    left: 1050px;
    top: 480px;
    font-size: 30px;
    position: absolute;
}

#input{
    top: 600px;
    left: 620px;
    z-index: 7;
    position: absolute;
}

.options{
    border-radius: 50px;
    height: 40px;
    width: 90px;
    background: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

#btnStart{
    border-radius: 50px;
    height: 60px;
    width: 150px;
    left: 650px;
    background: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    font-size: 15px;
    cursor: pointer;
}